


.fixNavigation{

position: fixed;
top: 0;
left:0;
width: 100%;

}

.toptop{
    height: 100px;
}




ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #397591;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 9px 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

h1{

    font-size: 50px;
    text-align: center;
}


 a {

    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
